<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="pag-principal">          
          <img src="../../assets/voltar-img.png" alt="">
        </ion-button>
      </ion-buttons>
      <form action="">
      </form>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      <ion-item *ngFor="let produto of vendas">
        <ion-thumbnail slot="start">
          <img src="../../assets/placeholder.jpg" alt="">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ produto.artigo }}</h2>
          <p>Modelo: {{ produto.modelo }}</p>
          <p>Marca: {{ produto.marca }}</p>
          <p>Preço: {{ produto.venda | currency }}</p>
          <p>Quantidade: {{ produto.qt }}</p>
          <ion-input type="number" id="qtProdutoVenda"></ion-input>
          <ion-button>Eliminar</ion-button>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
